<div>
  <div class="my-4 d-flex place-items-center justify-content-between">
    <div class="d-flex place-items-center w-1/3">
      <%= content_tag "div", id: "locations", class: "dropdown w-full", data: {url: locations_url} do %>
        <% location = Location.first%>
        <button id="location-selected"
                value="<%= location.id %>"
                name='<%= if location.nickname.nil?
                            "#{location.city}, #{ location.state.nil? ? location.country : location.state}"
                          else
                            location.nickname
                          end %>'
                class="btn border w-full hover:bg-gray-300 dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                data-bs-offset="0,10"
                aria-expanded="false">
          <%= location.city %>, <%= location.state.nil? ? location.country : location.state %>
          <%= "(#{location.nickname})" unless location.nickname.nil? %>
        </button>

        <ul id="location-dropdown" class="dropdown-menu w-full" aria-labelledby="dropdownMenuLocation">
          <% @locations.each do |location| %>
            <li
              value='<%= location.id %>'
              name='<%= if location.nickname.nil?
                          "#{location.city}, #{ location.state.nil? ? location.country : location.state}"
                        else
                          location.nickname
                        end %>'
            >
              <a class="dropdown-item" href="#">
                <%= location.city %>, <%= location.state.nil? ? location.country : location.state %>
                <%= "(#{location.nickname})" unless location.nickname.nil? %>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="d-flex place-items-center">
      <div class="align-text-middle text-muted ms-2">Current Temp</div>
    </div>
  </div>

  <div style="padding: 3px 0 1px; background: white;" class="rounded-3 my-4">
    <div id="chart-weather" class="chart my-3"></div>
  </div>
  <div style="padding: 3px 0 1px; background: white;" class="rounded-3 my-4">
    <div id="chart-high-low" class="chart my-3"></div>
  </div>

  <div class="text-end">
    <p class="fs-6 text-muted">Last updated: <span><%= DateTime.now.strftime('%F, %T') %></span></p>
  </div>

</div>

