<!DOCTYPE html>
<html>
  <head>
    <title>BigCommerce Home</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <%= image_tag "logo.png", class: "titleArea-logo d-inline-block align-text-top" %>
          <span class="align-text-middle fs-6 ms-2">BigCommerce Home</span>
        </a>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
